

#eyes, #ears, #nose, #mouth, #clothes{
    position:absolute;
    width:794px;   /* width of actual image */
    height:1123px; /* height of actual image */
}

/* .eyes1{
    background-image: url(../img/eyes/eyes1.png);
}

.ears1{
    background-image: url(../img/ears/ears1.png);
}

.nose1{
    background-image: url(../img/nose/nose1.png);
}

.mouth1{
    background-image: url(../img/mouth/mouth1.png);
}

.clothes1{
    background-image: url(../img/clothes/clothes1.png);
} */

h11 {
    font-size: 5em;
    color: #778d63;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px; /* Optional: Add margin for spacing from the edge */
}

.wrapper1 {
    position: relative;
    padding: 20px; /* Add padding to create space around elements */
}

.wrapper1 .input-box1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Limit maximum width */
    margin-bottom: 20px; /* Optional: Add margin for spacing */
    height: 50px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(171, 155, 150, 0.3); /* Adjust opacity here */
}

.input-box1 input {
    width: calc(100% - 40px); /* Adjust input width */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 20px;
    padding-right: 60px; /* Adjust padding for icon */
}

.input-box1 .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper1 button {
    width: 100%;
    height: 45px;
    border: none;
    background: #cad7be;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Corrected box-shadow value */
    cursor: pointer;
    font-size: 18px;
    color: #778d63;
    font-weight: 700;
}

.image-container img {
    max-width: 200%; /* Ensure the image does not exceed its container width */
    width: 300px;
    height: auto; /* Maintain aspect ratio */; /* Set a maximum height for the image */
    margin-bottom: -40px; /* Adjusted margin */
    align-content: center;
  }