body1 {
    margin: 0;
    padding: 0;
}


.wrapper1 {
    position: relative;
    padding: 20px; /* Add padding to create space around elements */
    
}


h11 {
    font-size: 5em;
    color: #778d63;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px; /* Optional: Add margin for spacing from the edge */
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Adjust margin as needed */
}

.image-container img {
    max-width: 100%; /* Ensure the image does not exceed its container width */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.input-box1 {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Limit maximum width */
    height: 50px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(171, 155, 150, 0.3); /* Adjust opacity here */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box1 input {
    width: calc(100% - 40px); /* Adjust input width */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 20px;
}


/* Absolute positioned elements */
#eyes, #ears, #nose, #mouth, #clothes {
    position: absolute;
    width: 794px;   /* width of actual image */
    height: 1123px; /* height of actual image */
    /* Add background-image and other styles as needed */
}
