.title {
font-size: 3.75rem;
position: fixed;
top: 10px; /* Adjust units as needed */
left: 50px; /* Adjust units as needed */
color: #778D63;
}

.buttonLeft {
  position: absolute;
  left: 60%;
  top: 6%;
  width: 35px; 
  height: 35px; 
  cursor: pointer;
  border: none; 
}

.speechBubble {
  position: absolute;
  left: 9%;
  top: 30%;
  width: 300px; 
  height: 200px; 
  cursor: pointer;
  border: none; 
}

.buttonRight {
  position: absolute;
  left: 80%;
  top: 6%;
  width: 35px; 
  height: 35px; 
  cursor: pointer;
  border: none; 
}

.buttonAdd {
  position: absolute;
  left: 78%;
  top: 80.8%;
  width: 80px; 
  height: 80px; 
  cursor: pointer;
  border: none; 
}

.buttonLeft:hover {
  opacity: 0.8; 
}

.buttonRight:hover {
  opacity: 0.8; 
}

.buttonAdd:hover {
  opacity: 0.8; 
}

.logout {
  position: absolute;
  left: 88%;
  top: 6%;
  width: 100px; 
  height: 30px; 
  cursor: pointer;
  background-color: #E5BEBE;
  border-radius: 20px;
  margin-right: 2px ;
  text-align: center;
}

.logout:hover {
  opacity: 0.8; 
}

/* Vent.css */

.input-box1 {
  background-color: #ffffff;
  padding: 5px;
  height: 100px;
  position: absolute;
  left: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

#con .input-box1 {
  width: 2000px; /* Calculates width minus margins */
  max-width: 500%;
  width: auto;
  height: 75px; /* Adjust height as needed */
  position: absolute;
  left: 50%;
  top: 86%;
  transform: translate(-50%, -50%); /* Center align the element */
  background-color: rgba(171,155,150,0.2);
  padding: 5px;
  border: 1px solid #ccc;
}



.button1 :hover{
  opacity: 0.8; 
}

.button1 {
  position: fixed;
  bottom: 2%; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  text-align: center; /* Center text within link */
  background-color: #AB9B96; /* Background color of the box */
  padding: 10px; /* Padding inside the box */
  border-radius: 20px; /* Rounded corners for the box */
  width: auto; /* Adjust width as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  display: inline-block; /* Ensures the box expands with the content */
}

.link2 p a:hover{
  text-decoration: underline;
}

.link2 {
  position: relative;
  bottom: -200px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.texts {
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  text-align: center; /* Center text horizontally */
  font-size: 1.5em; /* Adjust font size as needed */
  color: #333; /* Adjust text color */
}