
.title {
font-size: 3.75rem;
position: fixed;
top: 30px; /* Adjust units as needed */
left: 50px; /* Adjust units as needed */
color: #778D63;
}

.saved-entry {
  background-color: rgba(171,155,150,0.2);
  padding: 20px;
  border-radius: 10px;
	position: absolute;
  right: 9%;
  top: 30%;
  width: 300px; 
  height: 300px; 
  cursor: pointer;
  border: none; 
	overflow-y: auto; /* Enable vertical scrolling */
}

.delete {
	position: absolute;
  right: 17.5%;
  top: 72%;
  cursor: pointer;
  border: none; 
}

.delete button {
  width: 100%; /* Full width */
  border: none;
  border-radius: 5px;
  cursor: pointer;
	text-decoration: underline;
	color: #AB9B96
}

.delete button:hover {
  opacity: 0.8;
}

.saved-entry::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.saved-entry::-webkit-scrollbar-track {
  background: #f0e7d8; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

.saved-entry::-webkit-scrollbar-thumb {
  background: #AB9B96; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}


.buttonLeft {
  position: absolute;
  left: 65.5%;
  top: 70%;
  width: 35px; 
  height: 35px; 
  cursor: pointer;
  border: none; 
}

.buttonRight {
  position: absolute;
  left: 93%;
  top: 70%;
  width: 35px; 
  height: 35px; 
  cursor: pointer;
  border: none; 
}

.speechBubble {
  position: absolute;
  left: 9%;
  top: 30%;
  width: 300px; 
  height: 200px; 
  cursor: pointer;
  border: none; 
}

.speechText {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  color: #333;
}

.buttonAdd {
  position: absolute;
  left: 78%;
  top: 80.8%;
  width: 80px; 
  height: 80px; 
  cursor: pointer;
  border: none; 
}

.buttonLeft:hover {
  opacity: 0.8; 
}

.buttonRight:hover {
  opacity: 0.8; 
}

.buttonAdd:hover {
  opacity: 0.8; 
}

.logout {
  position: absolute;
  left: 88%;
  top: 7%;
  width: 100px; 
  height: 50px; 
  cursor: pointer;
  color: #a0482d;
  background-color: #E5BEBE;
  border-radius: 20px;
  margin-right: 2px ;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 1.2rem;
}

.logout:hover {
  opacity: 0.8; 
}


.input-box1 {
  background-color: #ffffff;
  padding: 5px;
  height: 100px;
  position: absolute;
  left: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  font-size: 1.2em;
}

.input-box1 button {
  margin-right: 10px;
  color: #d25f5f;
}

#con .input-box1 {
  width: 2000px; /* Calculates width minus margins */
  max-width: 500%;
  width: auto;
  height: 75px; /* Adjust height as needed */
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%); /* Center align the element */
  background-color: rgba(171,155,150,0.2);
  padding: 5px;
  border: 1px solid #ccc;
}

.send :hover{
  opacity: 0.8; 
}

.send {
  position: fixed;
  bottom: 2%; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  text-align: center; /* Center text within link */
  padding: 10px; /* Padding inside the box */
  border-radius: 20px; /* Rounded corners for the box */
  width: auto; /* Adjust width as needed */
  cursor: pointer; /* Change cursor to pointer on hover */

  width: 80px;
  color: #f0e7d8;
  font-size: 1.2em;
}

.link2 p a:hover{
  opacity: 0.8;
}

.link2 {
  position: relative;
  bottom: -480px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: underline;
  color: #778D63;
  font-size: 1.2em;
}

.texts {
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  text-align: center; /* Center text horizontally */
  font-size: 1.5em; /* Adjust font size as needed */
  color: #333; /* Adjust text color */
  font-size: 1.8em;
}

.buttonsave{
  position: relative;
}

.image-container img {
  /* max-width: 100%;  */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  position: absolute;
}

.wrappersof{
  display: flex;
  justify-content: center;
  margin-top: -300px;
  /* Adjust margin as needed */
}